.container {
    margin-top: auto;
    background-color: rgb(30, 61, 88);
    color: rgb(232, 238, 241);
    padding: 3em;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  }

.link {
    color: rgb(232, 238, 241);
}