:root {
  --primary: rgb(232, 238, 241);
  --secundary: rgb(30,61,88);
}

.btn {
  padding: 8px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  /*justify-content: center;*/
  /*align-content: center;*/
  
}

.btn--primary {
  background-color: transparent;
  color: rgb(30,61,88);
  border: 1px solid rgb(30,61,88);
  transition: all 0.3s ease-out;
}

.btn--primary:hover {
  background-color: rgb(5, 125, 205);
  color: rgb(232, 238, 241);
  transition: all 0.3s ease-out;
  border: 1px solid rgb(5, 125, 205);
}

.btn--secondary {
  background-color: transparent;
  color: rgb(232, 238, 241);
  border: 1px solid rgb(30,61,88);
  transition: all 0.3s ease-out;
}

.btn--secondary:hover {
  background: rgb(232, 238, 241);
  color: rgb(30,61,88);
  transition: 250ms;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}


